<div class="row">
  <h1>List of Airlines</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ICAO</th>
          <th>IATA</th>
          <th>Airline Name</th>
          <th>Number of Listed Airplanes</th>
        </tr>
      </thead>
      <tbody>
        <% @airlines.each do |airline| %>
          <tr>
            <% if airline.airplanes.empty? %>
              <td><%= airline.icao %></td>
            <% else %>
              <td><%= link_to airline.icao, airline_path(airline.icao) %></td>
            <% end %>
            <td><%= airline.iata %></td>
            <td><%= airline.name %></td>
            <td><%= airline.airplanes.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
