<!DOCTYPE html>
<html>
  <head>
    <title>FlightScanner</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="body">
    <div class="container">
      <header>
        <%= render :partial => 'layouts/header' %>
      </header>

    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>

    <main role="main">
      <%= yield %>
    </main>

    </div>
  </body>
</html>
