<!DOCTYPE html>
<html>
  <head>
    <title>PLD</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body class="body">
    <div class="container">
      <header>
        <%= render :partial => 'layouts/header' %>
      </header>

    <% flash.each do |name, msg| %>
      <script type='text/javascript'>
        notyMessage("<%= name %>","<%= msg %>");
      </script>
    <% end %>

    <main role="main">
      <%= yield %>
    </main>

    </div>
  </body>
</html>
